.image {
  height: auto;
  transition: object-fit 0.3s ease;
  width: 100%;
  z-index: 1;
}

/* Dynamic object-fit styles */
.contain {
  object-fit: contain;
  padding: var(--mantine-spacing-md);
}

.cover {
  object-fit: cover;
}
