# Your Reddit Client ID
# Get one here: https://www.reddit.com/prefs/apps
REDDIT_CLIENT_ID="YOUR-TOKEN-HERE"

# Your Reddit Client Secret
# Get one here: https://www.reddit.com/prefs/apps
REDDIT_CLIENT_SECRET="YOUR-TOKEN-HERE"

# Used on production to verify the site with Google Webmaster Tools.
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION="YOUR-TOKEN-HERE"
