.comments {
  margin-top: var(--mantine-spacing-sm);
  margin-bottom: var(--mantine-spacing-sm);
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
}

.comment {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
  padding: var(--mantine-spacing-sm);
  border: 1px solid var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-sm);
  background-color: var(--mantine-color-gray-0);
}

.commentBody {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-sm);

  & p {
    padding: 0;
    margin: 0;
  }

  & a {
    text-decoration: underline !important;
  }
}

.link {
  text-align: center;
  text-decoration: underline !important;

  &:hover {
    text-decoration: none !important;
  }
}
