.postCard {
  margin: 0 auto;
  width: 320px;
  max-height: 700px;

  @media screen and (min-width: 767px) {
    width: 700px;
  }

  a {
    text-decoration: none;
    color: var(--mantine-color-text);
  }
}

.meta {
  gap: 4px;
}
