@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply relative mx-auto space-y-12 p-8 antialiased;
    @apply prose prose-zinc lg:prose-xl;
    @apply bg-white dark:prose-invert dark:bg-zinc-900;
  }

  input,
  select,
  button,
  .button {
    @apply appearance-none border-none outline-none;
    @apply rounded bg-zinc-200 text-black dark:bg-zinc-600 dark:text-white;
    @apply px-4 py-3 transition duration-300 ease-in-out;
  }

  input {
    @apply h-16 w-full text-xl;
  }

  button,
  .button {
    @apply leading-tight no-underline;
    @apply hover:bg-zinc-300 hover:no-underline dark:hover:bg-zinc-700;

    &:hover {
      @apply cursor-pointer;
    }
  }

  select {
    @apply ml-2 h-16 w-24;
  }

  .select-container {
    @apply relative;

    &::after {
      @apply pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-sm;

      content: '▼';
    }
  }

  a {
    @apply no-underline hover:underline;
  }

  .posts {
    @media screen and (width >= 768px) {
      left: -8vw;
      width: calc(100% + 16vw);
    }

    @media screen and (width >= 1100px) {
      left: -12vw;
      width: calc(100% + 24vw);
    }

    @media screen and (width >= 1661px) {
      left: -24vw;
      width: calc(100% + 48vw);
    }
  }
}
