@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply relative mx-auto space-y-12 p-8 antialiased;
    @apply prose prose-zinc lg:prose-xl;
    @apply bg-white dark:prose-invert dark:bg-zinc-900;
  }

  input,
  button,
  .button {
    @apply rounded bg-zinc-200 text-zinc-900 dark:bg-zinc-700 dark:text-white;
    @apply px-4 py-3 transition duration-300 ease-in-out;
  }

  input {
    @apply h-16 w-full text-xl outline-1 dark:outline-zinc-900;
  }

  button,
  .button {
    @apply leading-tight no-underline;
    @apply hover:bg-zinc-300 hover:no-underline dark:hover:bg-zinc-700;
  }

  a {
    @apply no-underline hover:underline;
  }

  .posts {
    @media screen and (width >= 768px) {
      left: -12vw;
      width: calc(100% + 24vw);
    }

    @media screen and (width >= 1440px) {
      left: -24vw;
      width: calc(100% + 48vw);
    }
  }

  .tooltip-container {
    @apply relative inline-block cursor-pointer;

    .tooltip-text {
      @apply hidden w-24 rounded bg-black p-4 text-sm text-white;
      @apply absolute right-0 z-10 mt-4 w-[200px] opacity-0 transition-opacity duration-300;
    }
  }

  .tooltip-container:hover .tooltip-text {
    @apply block opacity-100;
  }
}
