.controller {
  background-color: transparent;
  margin: 0 auto;
  width: 100%;
}

.loadingOverlay {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
