.controller {
  display: block;
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  position: relative;
  width: 100%;
}

.loadingOverlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
