.container {
  padding: var(--mantine-spacing-md);
  max-height: 580px;
  width: 100%;

  img,
  video {
    max-height: 550px;
    width: 100%;
  }
}

.vertical {
  aspect-ratio: 9 / 16;

  img,
  video {
    width: auto;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
}

.horizontal {
  aspect-ratio: 16 / 9;
}
