.container {
  padding: var(--mantine-spacing-md) var(--mantine-spacing-sm) 0
    var(--mantine-spacing-sm);
  max-height: 570px;
  width: 100%;

  img,
  video {
    border-radius: var(--mantine-spacing-xs);
    max-height: 550px;
    width: 100%;
  }
}

.vertical {
  video {
    border-radius: var(--mantine-spacing-xs);
    display: block;
    min-height: 550px;
    height: 100%;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }
}
