.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    gap: 16px;
    align-items: center;

    a {
      display: inline-flex;
    }

    h1 {
      font-size: var(--mantine-font-size-md);
      margin: 0;
      padding: 0;
    }
  }
}
