.imageContainer {
  border-radius: 8px;
  max-height: 512px;
  overflow: hidden;
  width: 100%;
}

.imageLink {
  display: block;
}

.image {
  display: block;
  height: auto;
  max-height: 512px;
  max-width: 100%;
  object-fit: contain;
  width: 100%;
}

.thumbnail {
  border-radius: 8px;
  height: auto;
  max-width: 100%;
}
