{
  "openapi": "3.1.1",
  "info": {
    "title": "Reddit API",
    "description": "Generated from Reddit JSON endpoints",
    "version": "1.0.0",
    "license": {
      "name": "Reddit API Terms",
      "url": "https://www.redditinc.com/policies/data-api-terms"
    }
  },
  "servers": [
    {
      "url": "https://www.reddit.com",
      "description": "Reddit API server"
    }
  ],
  "tags": [
    {
      "name": "posts",
      "description": "Operations related to posts"
    },
    {
      "name": "subreddits",
      "description": "Operations related to subreddits"
    },
    {
      "name": "comments",
      "description": "Operations related to comments"
    },
    {
      "name": "users",
      "description": "Operations related to users"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 Bearer token for authenticated requests"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/r/{subreddit}/{sort}.json": {
      "get": {
        "operationId": "getSubredditPosts",
        "summary": "Get posts from a subreddit",
        "tags": [
          "posts"
        ],
        "parameters": [
          {
            "name": "subreddit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "hot",
                "new",
                "top",
                "rising"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "t",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day",
                "week",
                "month",
                "year",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/r/{subreddit}/about.json": {
      "get": {
        "operationId": "getSubredditAbout",
        "summary": "Get subreddit information",
        "tags": [
          "subreddits"
        ],
        "parameters": [
          {
            "name": "subreddit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/subreddits/search.json": {
      "get": {
        "operationId": "searchSubreddits",
        "summary": "Search for subreddits",
        "tags": [
          "subreddits"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "activity"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/subreddits/popular.json": {
      "get": {
        "operationId": "getPopularSubreddits",
        "summary": "Get popular subreddits",
        "tags": [
          "subreddits"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/r/{subreddit}/comments/{postId}.json": {
      "get": {
        "operationId": "getPostComments",
        "summary": "Get comments for a post",
        "tags": [
          "comments"
        ],
        "parameters": [
          {
            "name": "subreddit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "confidence",
                "top",
                "new",
                "controversial",
                "old",
                "random",
                "qa"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/user/{username}/about.json": {
      "get": {
        "operationId": "getUserProfile",
        "summary": "Get user profile information",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  }
}