{
  "openapi": "3.1.1",
  "info": {
    "title": "Reddit API",
    "description": "Generated from Reddit JSON endpoints",
    "version": "1.0.0",
    "license": {
      "name": "Reddit API Terms",
      "url": "https://www.redditinc.com/policies/data-api-terms"
    }
  },
  "servers": [
    {
      "url": "https://www.reddit.com",
      "description": "Reddit API server"
    }
  ],
  "tags": [
    {
      "name": "posts",
      "description": "Operations related to posts"
    },
    {
      "name": "subreddits",
      "description": "Operations related to subreddits"
    },
    {
      "name": "comments",
      "description": "Operations related to comments"
    },
    {
      "name": "users",
      "description": "Operations related to users"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 Bearer token for authenticated requests"
      }
    },
    "schemas": {
      "GetSubredditPostsResponse": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "after": {
                "type": "string"
              },
              "dist": {
                "type": "number"
              },
              "modhash": {
                "type": "string"
              },
              "geo_filter": {
                "type": "string"
              },
              "children": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "approved_at_utc": {
                          "type": ["string", "null"]
                        },
                        "subreddit": {
                          "type": "string"
                        },
                        "selftext": {
                          "type": "string"
                        },
                        "author_fullname": {
                          "type": "string"
                        },
                        "saved": {
                          "type": "boolean"
                        },
                        "mod_reason_title": {
                          "type": ["string", "null"]
                        },
                        "gilded": {
                          "type": "number"
                        },
                        "clicked": {
                          "type": "boolean"
                        },
                        "title": {
                          "type": "string"
                        },
                        "link_flair_richtext": {
                          "type": "array",
                          "items": {}
                        },
                        "subreddit_name_prefixed": {
                          "type": "string"
                        },
                        "hidden": {
                          "type": "boolean"
                        },
                        "pwls": {
                          "type": "number"
                        },
                        "link_flair_css_class": {
                          "type": "string"
                        },
                        "downs": {
                          "type": "number"
                        },
                        "thumbnail_height": {
                          "type": "number"
                        },
                        "top_awarded_type": {
                          "type": ["string", "null"]
                        },
                        "hide_score": {
                          "type": "boolean"
                        },
                        "name": {
                          "type": "string"
                        },
                        "quarantine": {
                          "type": "boolean"
                        },
                        "link_flair_text_color": {
                          "type": "string"
                        },
                        "upvote_ratio": {
                          "type": "number"
                        },
                        "author_flair_background_color": {
                          "type": ["string", "null"]
                        },
                        "ups": {
                          "type": "number"
                        },
                        "total_awards_received": {
                          "type": "number"
                        },
                        "media_embed": {
                          "type": "object",
                          "properties": {}
                        },
                        "thumbnail_width": {
                          "type": "number"
                        },
                        "author_flair_template_id": {
                          "type": ["string", "null"]
                        },
                        "is_original_content": {
                          "type": "boolean"
                        },
                        "user_reports": {
                          "type": "array",
                          "items": {}
                        },
                        "secure_media": {
                          "type": ["string", "null"]
                        },
                        "is_reddit_media_domain": {
                          "type": "boolean"
                        },
                        "is_meta": {
                          "type": "boolean"
                        },
                        "category": {
                          "type": ["string", "null"]
                        },
                        "secure_media_embed": {
                          "type": "object",
                          "properties": {}
                        },
                        "link_flair_text": {
                          "type": "string"
                        },
                        "can_mod_post": {
                          "type": "boolean"
                        },
                        "score": {
                          "type": "number"
                        },
                        "approved_by": {
                          "type": ["string", "null"]
                        },
                        "is_created_from_ads_ui": {
                          "type": "boolean"
                        },
                        "author_premium": {
                          "type": "boolean"
                        },
                        "thumbnail": {
                          "type": "string"
                        },
                        "edited": {
                          "type": "boolean"
                        },
                        "author_flair_css_class": {
                          "type": ["string", "null"]
                        },
                        "author_flair_richtext": {
                          "type": "array",
                          "items": {}
                        },
                        "gildings": {
                          "type": "object",
                          "properties": {}
                        },
                        "post_hint": {
                          "type": "string"
                        },
                        "content_categories": {
                          "type": ["string", "null"]
                        },
                        "is_self": {
                          "type": "boolean"
                        },
                        "subreddit_type": {
                          "type": "string"
                        },
                        "created": {
                          "type": "number"
                        },
                        "link_flair_type": {
                          "type": "string"
                        },
                        "wls": {
                          "type": "number"
                        },
                        "removed_by_category": {
                          "type": ["string", "null"]
                        },
                        "banned_by": {
                          "type": ["string", "null"]
                        },
                        "author_flair_type": {
                          "type": "string"
                        },
                        "domain": {
                          "type": "string"
                        },
                        "allow_live_comments": {
                          "type": "boolean"
                        },
                        "selftext_html": {
                          "type": ["string", "null"]
                        },
                        "likes": {
                          "type": ["string", "null"]
                        },
                        "suggested_sort": {
                          "type": ["string", "null"]
                        },
                        "banned_at_utc": {
                          "type": ["string", "null"]
                        },
                        "url_overridden_by_dest": {
                          "type": "string"
                        },
                        "view_count": {
                          "type": ["string", "null"]
                        },
                        "archived": {
                          "type": "boolean"
                        },
                        "no_follow": {
                          "type": "boolean"
                        },
                        "is_crosspostable": {
                          "type": "boolean"
                        },
                        "pinned": {
                          "type": "boolean"
                        },
                        "over_18": {
                          "type": "boolean"
                        },
                        "preview": {
                          "type": "object",
                          "properties": {
                            "images": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "source": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string"
                                      },
                                      "width": {
                                        "type": "number"
                                      },
                                      "height": {
                                        "type": "number"
                                      }
                                    }
                                  },
                                  "resolutions": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "url": {
                                          "type": "string"
                                        },
                                        "width": {
                                          "type": "number"
                                        },
                                        "height": {
                                          "type": "number"
                                        }
                                      }
                                    }
                                  },
                                  "variants": {
                                    "type": "object",
                                    "properties": {}
                                  },
                                  "id": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "enabled": {
                              "type": "boolean"
                            }
                          }
                        },
                        "all_awardings": {
                          "type": "array",
                          "items": {}
                        },
                        "awarders": {
                          "type": "array",
                          "items": {}
                        },
                        "media_only": {
                          "type": "boolean"
                        },
                        "link_flair_template_id": {
                          "type": "string"
                        },
                        "can_gild": {
                          "type": "boolean"
                        },
                        "spoiler": {
                          "type": "boolean"
                        },
                        "locked": {
                          "type": "boolean"
                        },
                        "author_flair_text": {
                          "type": ["string", "null"]
                        },
                        "treatment_tags": {
                          "type": "array",
                          "items": {}
                        },
                        "visited": {
                          "type": "boolean"
                        },
                        "removed_by": {
                          "type": ["string", "null"]
                        },
                        "mod_note": {
                          "type": ["string", "null"]
                        },
                        "distinguished": {
                          "type": ["string", "null"]
                        },
                        "subreddit_id": {
                          "type": "string"
                        },
                        "author_is_blocked": {
                          "type": "boolean"
                        },
                        "mod_reason_by": {
                          "type": ["string", "null"]
                        },
                        "num_reports": {
                          "type": ["string", "null"]
                        },
                        "removal_reason": {
                          "type": ["string", "null"]
                        },
                        "link_flair_background_color": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "is_robot_indexable": {
                          "type": "boolean"
                        },
                        "report_reasons": {
                          "type": ["string", "null"]
                        },
                        "author": {
                          "type": "string"
                        },
                        "discussion_type": {
                          "type": ["string", "null"]
                        },
                        "num_comments": {
                          "type": "number"
                        },
                        "send_replies": {
                          "type": "boolean"
                        },
                        "contest_mode": {
                          "type": "boolean"
                        },
                        "mod_reports": {
                          "type": "array",
                          "items": {}
                        },
                        "author_patreon_flair": {
                          "type": "boolean"
                        },
                        "author_flair_text_color": {
                          "type": ["string", "null"]
                        },
                        "permalink": {
                          "type": "string"
                        },
                        "stickied": {
                          "type": "boolean"
                        },
                        "url": {
                          "type": "string"
                        },
                        "subreddit_subscribers": {
                          "type": "number"
                        },
                        "created_utc": {
                          "type": "number"
                        },
                        "num_crossposts": {
                          "type": "number"
                        },
                        "media": {
                          "type": ["string", "null"]
                        },
                        "is_video": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              },
              "before": {
                "type": ["string", "null"]
              }
            }
          }
        }
      },
      "GetSubredditAboutResponse": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "user_flair_background_color": {
                "type": ["string", "null"]
              },
              "submit_text_html": {
                "type": ["string", "null"]
              },
              "restrict_posting": {
                "type": "boolean"
              },
              "user_is_banned": {
                "type": ["string", "null"]
              },
              "free_form_reports": {
                "type": "boolean"
              },
              "wiki_enabled": {
                "type": "boolean"
              },
              "user_is_muted": {
                "type": ["string", "null"]
              },
              "user_can_flair_in_sr": {
                "type": ["string", "null"]
              },
              "display_name": {
                "type": "string"
              },
              "header_img": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "original_content_tag_enabled": {
                "type": "boolean"
              },
              "allow_galleries": {
                "type": "boolean"
              },
              "icon_size": {
                "type": ["string", "null"]
              },
              "primary_color": {
                "type": "string"
              },
              "icon_img": {
                "type": "string"
              },
              "display_name_prefixed": {
                "type": "string"
              },
              "public_traffic": {
                "type": "boolean"
              },
              "subscribers": {
                "type": "number"
              },
              "user_flair_richtext": {
                "type": "array",
                "items": {}
              },
              "name": {
                "type": "string"
              },
              "quarantine": {
                "type": "boolean"
              },
              "hide_ads": {
                "type": "boolean"
              },
              "prediction_leaderboard_entry_type": {
                "type": "number"
              },
              "emojis_enabled": {
                "type": "boolean"
              },
              "advertiser_category": {
                "type": "string"
              },
              "public_description": {
                "type": "string"
              },
              "comment_score_hide_mins": {
                "type": "number"
              },
              "allow_predictions": {
                "type": "boolean"
              },
              "user_has_favorited": {
                "type": ["string", "null"]
              },
              "user_flair_template_id": {
                "type": ["string", "null"]
              },
              "community_icon": {
                "type": "string"
              },
              "banner_background_image": {
                "type": "string"
              },
              "header_title": {
                "type": "string"
              },
              "community_reviewed": {
                "type": "boolean"
              },
              "submit_text": {
                "type": "string"
              },
              "description_html": {
                "type": "string"
              },
              "spoilers_enabled": {
                "type": "boolean"
              },
              "comment_contribution_settings": {
                "type": "object",
                "properties": {
                  "allowed_media_types": {
                    "type": ["string", "null"]
                  }
                }
              },
              "allow_talks": {
                "type": "boolean"
              },
              "header_size": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              },
              "user_flair_position": {
                "type": "string"
              },
              "all_original_content": {
                "type": "boolean"
              },
              "has_menu_widget": {
                "type": "boolean"
              },
              "is_enrolled_in_new_modmail": {
                "type": ["string", "null"]
              },
              "key_color": {
                "type": "string"
              },
              "can_assign_user_flair": {
                "type": "boolean"
              },
              "created": {
                "type": "number"
              },
              "wls": {
                "type": "number"
              },
              "show_media_preview": {
                "type": "boolean"
              },
              "submission_type": {
                "type": "string"
              },
              "user_is_subscriber": {
                "type": ["string", "null"]
              },
              "allowed_media_in_comments": {
                "type": "array",
                "items": {}
              },
              "allow_videogifs": {
                "type": "boolean"
              },
              "should_archive_posts": {
                "type": "boolean"
              },
              "user_flair_type": {
                "type": "string"
              },
              "allow_polls": {
                "type": "boolean"
              },
              "collapse_deleted_comments": {
                "type": "boolean"
              },
              "emojis_custom_size": {
                "type": ["string", "null"]
              },
              "public_description_html": {
                "type": "string"
              },
              "allow_videos": {
                "type": "boolean"
              },
              "is_crosspostable_subreddit": {
                "type": "boolean"
              },
              "notification_level": {
                "type": ["string", "null"]
              },
              "should_show_media_in_comments_setting": {
                "type": "boolean"
              },
              "can_assign_link_flair": {
                "type": "boolean"
              },
              "allow_prediction_contributors": {
                "type": "boolean"
              },
              "submit_text_label": {
                "type": "string"
              },
              "link_flair_position": {
                "type": "string"
              },
              "user_sr_flair_enabled": {
                "type": ["string", "null"]
              },
              "user_flair_enabled_in_sr": {
                "type": "boolean"
              },
              "allow_discovery": {
                "type": "boolean"
              },
              "accept_followers": {
                "type": "boolean"
              },
              "user_sr_theme_enabled": {
                "type": "boolean"
              },
              "link_flair_enabled": {
                "type": "boolean"
              },
              "disable_contributor_requests": {
                "type": "boolean"
              },
              "subreddit_type": {
                "type": "string"
              },
              "suggested_comment_sort": {
                "type": ["string", "null"]
              },
              "banner_img": {
                "type": "string"
              },
              "user_flair_text": {
                "type": ["string", "null"]
              },
              "banner_background_color": {
                "type": "string"
              },
              "show_media": {
                "type": "boolean"
              },
              "id": {
                "type": "string"
              },
              "user_is_moderator": {
                "type": ["string", "null"]
              },
              "over18": {
                "type": "boolean"
              },
              "description": {
                "type": "string"
              },
              "submit_link_label": {
                "type": "string"
              },
              "user_flair_text_color": {
                "type": ["string", "null"]
              },
              "restrict_commenting": {
                "type": "boolean"
              },
              "user_flair_css_class": {
                "type": ["string", "null"]
              },
              "allow_images": {
                "type": "boolean"
              },
              "lang": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "created_utc": {
                "type": "number"
              },
              "banner_size": {
                "type": ["string", "null"]
              },
              "mobile_banner_image": {
                "type": "string"
              },
              "user_is_contributor": {
                "type": ["string", "null"]
              },
              "allow_predictions_tournament": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "SearchSubredditsResponse": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "after": {
                "type": "string"
              },
              "dist": {
                "type": "number"
              },
              "modhash": {
                "type": "string"
              },
              "geo_filter": {
                "type": "string"
              },
              "children": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "kind": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "user_flair_background_color": {
                              "type": ["string", "null"]
                            },
                            "submit_text_html": {
                              "type": ["string", "null"]
                            },
                            "restrict_posting": {
                              "type": "boolean"
                            },
                            "user_is_banned": {
                              "type": ["string", "null"]
                            },
                            "free_form_reports": {
                              "type": "boolean"
                            },
                            "wiki_enabled": {
                              "type": "boolean"
                            },
                            "user_is_muted": {
                              "type": ["string", "null"]
                            },
                            "user_can_flair_in_sr": {
                              "type": ["string", "null"]
                            },
                            "display_name": {
                              "type": "string"
                            },
                            "header_img": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            },
                            "original_content_tag_enabled": {
                              "type": "boolean"
                            },
                            "allow_galleries": {
                              "type": "boolean"
                            },
                            "icon_size": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "primary_color": {
                              "type": "string"
                            },
                            "icon_img": {
                              "type": "string"
                            },
                            "display_name_prefixed": {
                              "type": "string"
                            },
                            "public_traffic": {
                              "type": "boolean"
                            },
                            "subscribers": {
                              "type": "number"
                            },
                            "user_flair_richtext": {
                              "type": "array",
                              "items": {}
                            },
                            "name": {
                              "type": "string"
                            },
                            "quarantine": {
                              "type": "boolean"
                            },
                            "hide_ads": {
                              "type": "boolean"
                            },
                            "prediction_leaderboard_entry_type": {
                              "type": "number"
                            },
                            "emojis_enabled": {
                              "type": "boolean"
                            },
                            "advertiser_category": {
                              "type": "string"
                            },
                            "public_description": {
                              "type": "string"
                            },
                            "comment_score_hide_mins": {
                              "type": "number"
                            },
                            "allow_predictions": {
                              "type": "boolean"
                            },
                            "user_has_favorited": {
                              "type": ["string", "null"]
                            },
                            "user_flair_template_id": {
                              "type": ["string", "null"]
                            },
                            "community_icon": {
                              "type": "string"
                            },
                            "banner_background_image": {
                              "type": "string"
                            },
                            "header_title": {
                              "type": "string"
                            },
                            "community_reviewed": {
                              "type": "boolean"
                            },
                            "submit_text": {
                              "type": "string"
                            },
                            "description_html": {
                              "type": "string"
                            },
                            "spoilers_enabled": {
                              "type": "boolean"
                            },
                            "comment_contribution_settings": {
                              "type": "object",
                              "properties": {
                                "allowed_media_types": {
                                  "type": ["string", "null"]
                                }
                              }
                            },
                            "allow_talks": {
                              "type": "boolean"
                            },
                            "header_size": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "user_flair_position": {
                              "type": "string"
                            },
                            "all_original_content": {
                              "type": "boolean"
                            },
                            "has_menu_widget": {
                              "type": "boolean"
                            },
                            "is_enrolled_in_new_modmail": {
                              "type": ["string", "null"]
                            },
                            "key_color": {
                              "type": "string"
                            },
                            "can_assign_user_flair": {
                              "type": "boolean"
                            },
                            "created": {
                              "type": "number"
                            },
                            "wls": {
                              "type": "number"
                            },
                            "show_media_preview": {
                              "type": "boolean"
                            },
                            "submission_type": {
                              "type": "string"
                            },
                            "user_is_subscriber": {
                              "type": ["string", "null"]
                            },
                            "allowed_media_in_comments": {
                              "type": "array",
                              "items": {}
                            },
                            "allow_videogifs": {
                              "type": "boolean"
                            },
                            "should_archive_posts": {
                              "type": "boolean"
                            },
                            "user_flair_type": {
                              "type": "string"
                            },
                            "allow_polls": {
                              "type": "boolean"
                            },
                            "collapse_deleted_comments": {
                              "type": "boolean"
                            },
                            "emojis_custom_size": {
                              "type": ["string", "null"]
                            },
                            "public_description_html": {
                              "type": "string"
                            },
                            "allow_videos": {
                              "type": "boolean"
                            },
                            "is_crosspostable_subreddit": {
                              "type": "boolean"
                            },
                            "suggested_comment_sort": {
                              "type": "string"
                            },
                            "should_show_media_in_comments_setting": {
                              "type": "boolean"
                            },
                            "can_assign_link_flair": {
                              "type": "boolean"
                            },
                            "allow_prediction_contributors": {
                              "type": "boolean"
                            },
                            "submit_text_label": {
                              "type": "string"
                            },
                            "link_flair_position": {
                              "type": "string"
                            },
                            "user_sr_flair_enabled": {
                              "type": ["string", "null"]
                            },
                            "user_flair_enabled_in_sr": {
                              "type": "boolean"
                            },
                            "allow_discovery": {
                              "type": "boolean"
                            },
                            "accept_followers": {
                              "type": "boolean"
                            },
                            "user_sr_theme_enabled": {
                              "type": "boolean"
                            },
                            "link_flair_enabled": {
                              "type": "boolean"
                            },
                            "disable_contributor_requests": {
                              "type": "boolean"
                            },
                            "subreddit_type": {
                              "type": "string"
                            },
                            "notification_level": {
                              "type": ["string", "null"]
                            },
                            "banner_img": {
                              "type": "string"
                            },
                            "user_flair_text": {
                              "type": ["string", "null"]
                            },
                            "banner_background_color": {
                              "type": "string"
                            },
                            "show_media": {
                              "type": "boolean"
                            },
                            "id": {
                              "type": "string"
                            },
                            "user_is_contributor": {
                              "type": ["string", "null"]
                            },
                            "over18": {
                              "type": "boolean"
                            },
                            "description": {
                              "type": "string"
                            },
                            "submit_link_label": {
                              "type": "string"
                            },
                            "user_flair_text_color": {
                              "type": ["string", "null"]
                            },
                            "restrict_commenting": {
                              "type": "boolean"
                            },
                            "user_flair_css_class": {
                              "type": ["string", "null"]
                            },
                            "allow_images": {
                              "type": "boolean"
                            },
                            "lang": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "created_utc": {
                              "type": "number"
                            },
                            "banner_size": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "mobile_banner_image": {
                              "type": "string"
                            },
                            "user_is_moderator": {
                              "type": ["string", "null"]
                            },
                            "allow_predictions_tournament": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "kind": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "user_flair_background_color": {
                              "type": ["string", "null"]
                            },
                            "submit_text_html": {
                              "type": ["string", "null"]
                            },
                            "restrict_posting": {
                              "type": "boolean"
                            },
                            "user_is_banned": {
                              "type": ["string", "null"]
                            },
                            "free_form_reports": {
                              "type": "boolean"
                            },
                            "wiki_enabled": {
                              "type": "boolean"
                            },
                            "user_is_muted": {
                              "type": ["string", "null"]
                            },
                            "user_can_flair_in_sr": {
                              "type": ["string", "null"]
                            },
                            "display_name": {
                              "type": "string"
                            },
                            "header_img": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            },
                            "original_content_tag_enabled": {
                              "type": "boolean"
                            },
                            "allow_galleries": {
                              "type": "boolean"
                            },
                            "icon_size": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "primary_color": {
                              "type": "string"
                            },
                            "icon_img": {
                              "type": "string"
                            },
                            "display_name_prefixed": {
                              "type": "string"
                            },
                            "public_traffic": {
                              "type": "boolean"
                            },
                            "subscribers": {
                              "type": "number"
                            },
                            "user_flair_richtext": {
                              "type": "array",
                              "items": {}
                            },
                            "videostream_links_count": {
                              "type": "number"
                            },
                            "name": {
                              "type": "string"
                            },
                            "quarantine": {
                              "type": "boolean"
                            },
                            "hide_ads": {
                              "type": "boolean"
                            },
                            "prediction_leaderboard_entry_type": {
                              "type": "number"
                            },
                            "emojis_enabled": {
                              "type": "boolean"
                            },
                            "advertiser_category": {
                              "type": "string"
                            },
                            "public_description": {
                              "type": "string"
                            },
                            "comment_score_hide_mins": {
                              "type": "number"
                            },
                            "allow_predictions": {
                              "type": "boolean"
                            },
                            "user_has_favorited": {
                              "type": ["string", "null"]
                            },
                            "user_flair_template_id": {
                              "type": ["string", "null"]
                            },
                            "community_icon": {
                              "type": "string"
                            },
                            "banner_background_image": {
                              "type": "string"
                            },
                            "header_title": {
                              "type": "string"
                            },
                            "community_reviewed": {
                              "type": "boolean"
                            },
                            "submit_text": {
                              "type": "string"
                            },
                            "description_html": {
                              "type": "string"
                            },
                            "spoilers_enabled": {
                              "type": "boolean"
                            },
                            "comment_contribution_settings": {
                              "type": "object",
                              "properties": {
                                "allowed_media_types": {
                                  "type": ["string", "null"]
                                }
                              }
                            },
                            "allow_talks": {
                              "type": "boolean"
                            },
                            "header_size": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "user_flair_position": {
                              "type": "string"
                            },
                            "all_original_content": {
                              "type": "boolean"
                            },
                            "has_menu_widget": {
                              "type": "boolean"
                            },
                            "is_enrolled_in_new_modmail": {
                              "type": ["string", "null"]
                            },
                            "key_color": {
                              "type": "string"
                            },
                            "can_assign_user_flair": {
                              "type": "boolean"
                            },
                            "created": {
                              "type": "number"
                            },
                            "wls": {
                              "type": "number"
                            },
                            "show_media_preview": {
                              "type": "boolean"
                            },
                            "submission_type": {
                              "type": "string"
                            },
                            "user_is_subscriber": {
                              "type": ["string", "null"]
                            },
                            "allowed_media_in_comments": {
                              "type": "array",
                              "items": {}
                            },
                            "allow_videogifs": {
                              "type": "boolean"
                            },
                            "should_archive_posts": {
                              "type": "boolean"
                            },
                            "user_flair_type": {
                              "type": "string"
                            },
                            "allow_polls": {
                              "type": "boolean"
                            },
                            "collapse_deleted_comments": {
                              "type": "boolean"
                            },
                            "emojis_custom_size": {
                              "type": ["string", "null"]
                            },
                            "public_description_html": {
                              "type": "string"
                            },
                            "allow_videos": {
                              "type": "boolean"
                            },
                            "is_crosspostable_subreddit": {
                              "type": "boolean"
                            },
                            "suggested_comment_sort": {
                              "type": ["string", "null"]
                            },
                            "should_show_media_in_comments_setting": {
                              "type": "boolean"
                            },
                            "can_assign_link_flair": {
                              "type": "boolean"
                            },
                            "allow_prediction_contributors": {
                              "type": "boolean"
                            },
                            "submit_text_label": {
                              "type": "string"
                            },
                            "link_flair_position": {
                              "type": "string"
                            },
                            "user_sr_flair_enabled": {
                              "type": ["string", "null"]
                            },
                            "user_flair_enabled_in_sr": {
                              "type": "boolean"
                            },
                            "allow_discovery": {
                              "type": "boolean"
                            },
                            "accept_followers": {
                              "type": "boolean"
                            },
                            "user_sr_theme_enabled": {
                              "type": "boolean"
                            },
                            "link_flair_enabled": {
                              "type": "boolean"
                            },
                            "disable_contributor_requests": {
                              "type": "boolean"
                            },
                            "subreddit_type": {
                              "type": "string"
                            },
                            "notification_level": {
                              "type": ["string", "null"]
                            },
                            "banner_img": {
                              "type": "string"
                            },
                            "user_flair_text": {
                              "type": ["string", "null"]
                            },
                            "banner_background_color": {
                              "type": "string"
                            },
                            "show_media": {
                              "type": "boolean"
                            },
                            "id": {
                              "type": "string"
                            },
                            "user_is_contributor": {
                              "type": ["string", "null"]
                            },
                            "over18": {
                              "type": "boolean"
                            },
                            "description": {
                              "type": "string"
                            },
                            "submit_link_label": {
                              "type": "string"
                            },
                            "user_flair_text_color": {
                              "type": ["string", "null"]
                            },
                            "restrict_commenting": {
                              "type": "boolean"
                            },
                            "user_flair_css_class": {
                              "type": ["string", "null"]
                            },
                            "allow_images": {
                              "type": "boolean"
                            },
                            "lang": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "created_utc": {
                              "type": "number"
                            },
                            "banner_size": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "mobile_banner_image": {
                              "type": "string"
                            },
                            "user_is_moderator": {
                              "type": ["string", "null"]
                            },
                            "allow_predictions_tournament": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "kind": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "user_flair_background_color": {
                              "type": ["string", "null"]
                            },
                            "submit_text_html": {
                              "type": "string"
                            },
                            "restrict_posting": {
                              "type": "boolean"
                            },
                            "user_is_banned": {
                              "type": ["string", "null"]
                            },
                            "free_form_reports": {
                              "type": "boolean"
                            },
                            "wiki_enabled": {
                              "type": "boolean"
                            },
                            "user_is_muted": {
                              "type": ["string", "null"]
                            },
                            "user_can_flair_in_sr": {
                              "type": ["string", "null"]
                            },
                            "display_name": {
                              "type": "string"
                            },
                            "header_img": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            },
                            "original_content_tag_enabled": {
                              "type": "boolean"
                            },
                            "allow_galleries": {
                              "type": "boolean"
                            },
                            "icon_size": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "primary_color": {
                              "type": "string"
                            },
                            "icon_img": {
                              "type": "string"
                            },
                            "display_name_prefixed": {
                              "type": "string"
                            },
                            "public_traffic": {
                              "type": "boolean"
                            },
                            "subscribers": {
                              "type": "number"
                            },
                            "user_flair_richtext": {
                              "type": "array",
                              "items": {}
                            },
                            "name": {
                              "type": "string"
                            },
                            "quarantine": {
                              "type": "boolean"
                            },
                            "hide_ads": {
                              "type": "boolean"
                            },
                            "prediction_leaderboard_entry_type": {
                              "type": "number"
                            },
                            "emojis_enabled": {
                              "type": "boolean"
                            },
                            "advertiser_category": {
                              "type": "string"
                            },
                            "public_description": {
                              "type": "string"
                            },
                            "comment_score_hide_mins": {
                              "type": "number"
                            },
                            "allow_predictions": {
                              "type": "boolean"
                            },
                            "user_has_favorited": {
                              "type": ["string", "null"]
                            },
                            "user_flair_template_id": {
                              "type": ["string", "null"]
                            },
                            "community_icon": {
                              "type": "string"
                            },
                            "banner_background_image": {
                              "type": "string"
                            },
                            "header_title": {
                              "type": "string"
                            },
                            "community_reviewed": {
                              "type": "boolean"
                            },
                            "submit_text": {
                              "type": "string"
                            },
                            "description_html": {
                              "type": "string"
                            },
                            "spoilers_enabled": {
                              "type": "boolean"
                            },
                            "comment_contribution_settings": {
                              "type": "object",
                              "properties": {
                                "allowed_media_types": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "allow_talks": {
                              "type": "boolean"
                            },
                            "header_size": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "user_flair_position": {
                              "type": "string"
                            },
                            "all_original_content": {
                              "type": "boolean"
                            },
                            "has_menu_widget": {
                              "type": "boolean"
                            },
                            "is_enrolled_in_new_modmail": {
                              "type": ["string", "null"]
                            },
                            "key_color": {
                              "type": "string"
                            },
                            "can_assign_user_flair": {
                              "type": "boolean"
                            },
                            "created": {
                              "type": "number"
                            },
                            "wls": {
                              "type": "number"
                            },
                            "show_media_preview": {
                              "type": "boolean"
                            },
                            "submission_type": {
                              "type": "string"
                            },
                            "user_is_subscriber": {
                              "type": ["string", "null"]
                            },
                            "allowed_media_in_comments": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "allow_videogifs": {
                              "type": "boolean"
                            },
                            "should_archive_posts": {
                              "type": "boolean"
                            },
                            "user_flair_type": {
                              "type": "string"
                            },
                            "allow_polls": {
                              "type": "boolean"
                            },
                            "collapse_deleted_comments": {
                              "type": "boolean"
                            },
                            "emojis_custom_size": {
                              "type": ["string", "null"]
                            },
                            "public_description_html": {
                              "type": "string"
                            },
                            "allow_videos": {
                              "type": "boolean"
                            },
                            "is_crosspostable_subreddit": {
                              "type": "boolean"
                            },
                            "suggested_comment_sort": {
                              "type": "string"
                            },
                            "should_show_media_in_comments_setting": {
                              "type": "boolean"
                            },
                            "can_assign_link_flair": {
                              "type": "boolean"
                            },
                            "allow_prediction_contributors": {
                              "type": "boolean"
                            },
                            "submit_text_label": {
                              "type": "string"
                            },
                            "link_flair_position": {
                              "type": "string"
                            },
                            "user_sr_flair_enabled": {
                              "type": ["string", "null"]
                            },
                            "user_flair_enabled_in_sr": {
                              "type": "boolean"
                            },
                            "allow_discovery": {
                              "type": "boolean"
                            },
                            "accept_followers": {
                              "type": "boolean"
                            },
                            "user_sr_theme_enabled": {
                              "type": "boolean"
                            },
                            "link_flair_enabled": {
                              "type": "boolean"
                            },
                            "disable_contributor_requests": {
                              "type": "boolean"
                            },
                            "subreddit_type": {
                              "type": "string"
                            },
                            "notification_level": {
                              "type": ["string", "null"]
                            },
                            "banner_img": {
                              "type": "string"
                            },
                            "user_flair_text": {
                              "type": ["string", "null"]
                            },
                            "banner_background_color": {
                              "type": "string"
                            },
                            "show_media": {
                              "type": "boolean"
                            },
                            "id": {
                              "type": "string"
                            },
                            "user_is_contributor": {
                              "type": ["string", "null"]
                            },
                            "over18": {
                              "type": "boolean"
                            },
                            "description": {
                              "type": "string"
                            },
                            "submit_link_label": {
                              "type": "string"
                            },
                            "user_flair_text_color": {
                              "type": ["string", "null"]
                            },
                            "restrict_commenting": {
                              "type": "boolean"
                            },
                            "user_flair_css_class": {
                              "type": ["string", "null"]
                            },
                            "allow_images": {
                              "type": "boolean"
                            },
                            "lang": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "created_utc": {
                              "type": "number"
                            },
                            "banner_size": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "mobile_banner_image": {
                              "type": "string"
                            },
                            "user_is_moderator": {
                              "type": ["string", "null"]
                            },
                            "allow_predictions_tournament": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "kind": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "user_flair_background_color": {
                              "type": ["string", "null"]
                            },
                            "submit_text_html": {
                              "type": ["string", "null"]
                            },
                            "restrict_posting": {
                              "type": "boolean"
                            },
                            "user_is_banned": {
                              "type": ["string", "null"]
                            },
                            "free_form_reports": {
                              "type": "boolean"
                            },
                            "wiki_enabled": {
                              "type": "boolean"
                            },
                            "user_is_muted": {
                              "type": ["string", "null"]
                            },
                            "user_can_flair_in_sr": {
                              "type": ["string", "null"]
                            },
                            "display_name": {
                              "type": "string"
                            },
                            "header_img": {
                              "type": ["string", "null"]
                            },
                            "title": {
                              "type": "string"
                            },
                            "original_content_tag_enabled": {
                              "type": "boolean"
                            },
                            "allow_galleries": {
                              "type": "boolean"
                            },
                            "icon_size": {
                              "type": ["string", "null"]
                            },
                            "primary_color": {
                              "type": "string"
                            },
                            "icon_img": {
                              "type": "string"
                            },
                            "display_name_prefixed": {
                              "type": "string"
                            },
                            "public_traffic": {
                              "type": "boolean"
                            },
                            "subscribers": {
                              "type": "number"
                            },
                            "user_flair_richtext": {
                              "type": "array",
                              "items": {}
                            },
                            "name": {
                              "type": "string"
                            },
                            "quarantine": {
                              "type": "boolean"
                            },
                            "hide_ads": {
                              "type": "boolean"
                            },
                            "prediction_leaderboard_entry_type": {
                              "type": "number"
                            },
                            "emojis_enabled": {
                              "type": "boolean"
                            },
                            "advertiser_category": {
                              "type": "string"
                            },
                            "public_description": {
                              "type": "string"
                            },
                            "comment_score_hide_mins": {
                              "type": "number"
                            },
                            "allow_predictions": {
                              "type": "boolean"
                            },
                            "user_has_favorited": {
                              "type": ["string", "null"]
                            },
                            "user_flair_template_id": {
                              "type": ["string", "null"]
                            },
                            "community_icon": {
                              "type": "string"
                            },
                            "banner_background_image": {
                              "type": "string"
                            },
                            "header_title": {
                              "type": "string"
                            },
                            "community_reviewed": {
                              "type": "boolean"
                            },
                            "submit_text": {
                              "type": "string"
                            },
                            "description_html": {
                              "type": ["string", "null"]
                            },
                            "spoilers_enabled": {
                              "type": "boolean"
                            },
                            "comment_contribution_settings": {
                              "type": "object",
                              "properties": {
                                "allowed_media_types": {
                                  "type": ["string", "null"]
                                }
                              }
                            },
                            "allow_talks": {
                              "type": "boolean"
                            },
                            "header_size": {
                              "type": ["string", "null"]
                            },
                            "user_flair_position": {
                              "type": "string"
                            },
                            "all_original_content": {
                              "type": "boolean"
                            },
                            "has_menu_widget": {
                              "type": "boolean"
                            },
                            "is_enrolled_in_new_modmail": {
                              "type": ["string", "null"]
                            },
                            "key_color": {
                              "type": "string"
                            },
                            "can_assign_user_flair": {
                              "type": "boolean"
                            },
                            "created": {
                              "type": "number"
                            },
                            "wls": {
                              "type": "number"
                            },
                            "show_media_preview": {
                              "type": "boolean"
                            },
                            "submission_type": {
                              "type": "string"
                            },
                            "user_is_subscriber": {
                              "type": ["string", "null"]
                            },
                            "allowed_media_in_comments": {
                              "type": "array",
                              "items": {}
                            },
                            "allow_videogifs": {
                              "type": "boolean"
                            },
                            "should_archive_posts": {
                              "type": "boolean"
                            },
                            "user_flair_type": {
                              "type": "string"
                            },
                            "allow_polls": {
                              "type": "boolean"
                            },
                            "collapse_deleted_comments": {
                              "type": "boolean"
                            },
                            "emojis_custom_size": {
                              "type": ["string", "null"]
                            },
                            "public_description_html": {
                              "type": "string"
                            },
                            "allow_videos": {
                              "type": "boolean"
                            },
                            "is_crosspostable_subreddit": {
                              "type": "boolean"
                            },
                            "suggested_comment_sort": {
                              "type": "string"
                            },
                            "should_show_media_in_comments_setting": {
                              "type": "boolean"
                            },
                            "can_assign_link_flair": {
                              "type": "boolean"
                            },
                            "allow_prediction_contributors": {
                              "type": "boolean"
                            },
                            "submit_text_label": {
                              "type": "string"
                            },
                            "link_flair_position": {
                              "type": "string"
                            },
                            "user_sr_flair_enabled": {
                              "type": ["string", "null"]
                            },
                            "user_flair_enabled_in_sr": {
                              "type": "boolean"
                            },
                            "allow_discovery": {
                              "type": "boolean"
                            },
                            "accept_followers": {
                              "type": "boolean"
                            },
                            "user_sr_theme_enabled": {
                              "type": "boolean"
                            },
                            "link_flair_enabled": {
                              "type": "boolean"
                            },
                            "disable_contributor_requests": {
                              "type": "boolean"
                            },
                            "subreddit_type": {
                              "type": "string"
                            },
                            "notification_level": {
                              "type": ["string", "null"]
                            },
                            "banner_img": {
                              "type": "string"
                            },
                            "user_flair_text": {
                              "type": ["string", "null"]
                            },
                            "banner_background_color": {
                              "type": "string"
                            },
                            "show_media": {
                              "type": "boolean"
                            },
                            "id": {
                              "type": "string"
                            },
                            "user_is_contributor": {
                              "type": ["string", "null"]
                            },
                            "over18": {
                              "type": "boolean"
                            },
                            "description": {
                              "type": "string"
                            },
                            "submit_link_label": {
                              "type": "string"
                            },
                            "user_flair_text_color": {
                              "type": ["string", "null"]
                            },
                            "restrict_commenting": {
                              "type": "boolean"
                            },
                            "user_flair_css_class": {
                              "type": ["string", "null"]
                            },
                            "allow_images": {
                              "type": "boolean"
                            },
                            "lang": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "created_utc": {
                              "type": "number"
                            },
                            "banner_size": {
                              "type": ["string", "null"]
                            },
                            "mobile_banner_image": {
                              "type": "string"
                            },
                            "user_is_moderator": {
                              "type": ["string", "null"]
                            },
                            "allow_predictions_tournament": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "kind": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "user_flair_background_color": {
                              "type": ["string", "null"]
                            },
                            "submit_text_html": {
                              "type": "string"
                            },
                            "restrict_posting": {
                              "type": "boolean"
                            },
                            "user_is_banned": {
                              "type": ["string", "null"]
                            },
                            "free_form_reports": {
                              "type": "boolean"
                            },
                            "wiki_enabled": {
                              "type": "boolean"
                            },
                            "user_is_muted": {
                              "type": ["string", "null"]
                            },
                            "user_can_flair_in_sr": {
                              "type": ["string", "null"]
                            },
                            "display_name": {
                              "type": "string"
                            },
                            "header_img": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            },
                            "original_content_tag_enabled": {
                              "type": "boolean"
                            },
                            "allow_galleries": {
                              "type": "boolean"
                            },
                            "icon_size": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "primary_color": {
                              "type": "string"
                            },
                            "icon_img": {
                              "type": "string"
                            },
                            "display_name_prefixed": {
                              "type": "string"
                            },
                            "public_traffic": {
                              "type": "boolean"
                            },
                            "subscribers": {
                              "type": "number"
                            },
                            "user_flair_richtext": {
                              "type": "array",
                              "items": {}
                            },
                            "name": {
                              "type": "string"
                            },
                            "quarantine": {
                              "type": "boolean"
                            },
                            "hide_ads": {
                              "type": "boolean"
                            },
                            "prediction_leaderboard_entry_type": {
                              "type": "number"
                            },
                            "emojis_enabled": {
                              "type": "boolean"
                            },
                            "advertiser_category": {
                              "type": "string"
                            },
                            "public_description": {
                              "type": "string"
                            },
                            "comment_score_hide_mins": {
                              "type": "number"
                            },
                            "allow_predictions": {
                              "type": "boolean"
                            },
                            "user_has_favorited": {
                              "type": ["string", "null"]
                            },
                            "user_flair_template_id": {
                              "type": ["string", "null"]
                            },
                            "community_icon": {
                              "type": "string"
                            },
                            "banner_background_image": {
                              "type": "string"
                            },
                            "header_title": {
                              "type": "string"
                            },
                            "community_reviewed": {
                              "type": "boolean"
                            },
                            "submit_text": {
                              "type": "string"
                            },
                            "description_html": {
                              "type": "string"
                            },
                            "spoilers_enabled": {
                              "type": "boolean"
                            },
                            "comment_contribution_settings": {
                              "type": "object",
                              "properties": {
                                "allowed_media_types": {
                                  "type": ["string", "null"]
                                }
                              }
                            },
                            "allow_talks": {
                              "type": "boolean"
                            },
                            "header_size": {
                              "type": "array",
                              "items": {
                                "type": "number"
                              }
                            },
                            "user_flair_position": {
                              "type": "string"
                            },
                            "all_original_content": {
                              "type": "boolean"
                            },
                            "has_menu_widget": {
                              "type": "boolean"
                            },
                            "is_enrolled_in_new_modmail": {
                              "type": ["string", "null"]
                            },
                            "key_color": {
                              "type": "string"
                            },
                            "can_assign_user_flair": {
                              "type": "boolean"
                            },
                            "created": {
                              "type": "number"
                            },
                            "wls": {
                              "type": "number"
                            },
                            "show_media_preview": {
                              "type": "boolean"
                            },
                            "submission_type": {
                              "type": "string"
                            },
                            "user_is_subscriber": {
                              "type": ["string", "null"]
                            },
                            "allowed_media_in_comments": {
                              "type": "array",
                              "items": {}
                            },
                            "allow_videogifs": {
                              "type": "boolean"
                            },
                            "should_archive_posts": {
                              "type": "boolean"
                            },
                            "user_flair_type": {
                              "type": "string"
                            },
                            "allow_polls": {
                              "type": "boolean"
                            },
                            "collapse_deleted_comments": {
                              "type": "boolean"
                            },
                            "emojis_custom_size": {
                              "type": ["string", "null"]
                            },
                            "public_description_html": {
                              "type": "string"
                            },
                            "allow_videos": {
                              "type": "boolean"
                            },
                            "is_crosspostable_subreddit": {
                              "type": "boolean"
                            },
                            "suggested_comment_sort": {
                              "type": ["string", "null"]
                            },
                            "should_show_media_in_comments_setting": {
                              "type": "boolean"
                            },
                            "can_assign_link_flair": {
                              "type": "boolean"
                            },
                            "allow_prediction_contributors": {
                              "type": "boolean"
                            },
                            "submit_text_label": {
                              "type": "string"
                            },
                            "link_flair_position": {
                              "type": "string"
                            },
                            "user_sr_flair_enabled": {
                              "type": ["string", "null"]
                            },
                            "user_flair_enabled_in_sr": {
                              "type": "boolean"
                            },
                            "allow_discovery": {
                              "type": "boolean"
                            },
                            "accept_followers": {
                              "type": "boolean"
                            },
                            "user_sr_theme_enabled": {
                              "type": "boolean"
                            },
                            "link_flair_enabled": {
                              "type": "boolean"
                            },
                            "disable_contributor_requests": {
                              "type": "boolean"
                            },
                            "subreddit_type": {
                              "type": "string"
                            },
                            "notification_level": {
                              "type": ["string", "null"]
                            },
                            "banner_img": {
                              "type": "string"
                            },
                            "user_flair_text": {
                              "type": ["string", "null"]
                            },
                            "banner_background_color": {
                              "type": "string"
                            },
                            "show_media": {
                              "type": "boolean"
                            },
                            "id": {
                              "type": "string"
                            },
                            "user_is_contributor": {
                              "type": ["string", "null"]
                            },
                            "over18": {
                              "type": "boolean"
                            },
                            "description": {
                              "type": "string"
                            },
                            "submit_link_label": {
                              "type": "string"
                            },
                            "user_flair_text_color": {
                              "type": ["string", "null"]
                            },
                            "restrict_commenting": {
                              "type": "boolean"
                            },
                            "user_flair_css_class": {
                              "type": ["string", "null"]
                            },
                            "allow_images": {
                              "type": "boolean"
                            },
                            "lang": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "created_utc": {
                              "type": "number"
                            },
                            "banner_size": {
                              "type": ["string", "null"]
                            },
                            "mobile_banner_image": {
                              "type": "string"
                            },
                            "user_is_moderator": {
                              "type": ["string", "null"]
                            },
                            "allow_predictions_tournament": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              },
              "before": {
                "type": ["string", "null"]
              }
            }
          }
        }
      },
      "GetPopularSubredditsResponse": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "after": {
                "type": "string"
              },
              "dist": {
                "type": "number"
              },
              "modhash": {
                "type": "string"
              },
              "geo_filter": {
                "type": "string"
              },
              "children": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "kind": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "user_flair_background_color": {
                              "type": ["string", "null"]
                            },
                            "submit_text_html": {
                              "type": ["string", "null"]
                            },
                            "restrict_posting": {
                              "type": "boolean"
                            },
                            "user_is_banned": {
                              "type": ["string", "null"]
                            },
                            "free_form_reports": {
                              "type": "boolean"
                            },
                            "wiki_enabled": {
                              "type": "boolean"
                            },
                            "user_is_muted": {
                              "type": ["string", "null"]
                            },
                            "user_can_flair_in_sr": {
                              "type": ["string", "null"]
                            },
                            "display_name": {
                              "type": "string"
                            },
                            "header_img": {
                              "type": ["string", "null"]
                            },
                            "title": {
                              "type": "string"
                            },
                            "original_content_tag_enabled": {
                              "type": "boolean"
                            },
                            "allow_galleries": {
                              "type": "boolean"
                            },
                            "icon_size": {
                              "type": ["string", "null"]
                            },
                            "primary_color": {
                              "type": "string"
                            },
                            "icon_img": {
                              "type": "string"
                            },
                            "display_name_prefixed": {
                              "type": "string"
                            },
                            "public_traffic": {
                              "type": "boolean"
                            },
                            "subscribers": {
                              "type": "number"
                            },
                            "user_flair_richtext": {
                              "type": "array",
                              "items": {}
                            },
                            "videostream_links_count": {
                              "type": "number"
                            },
                            "name": {
[...]
