.comments {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-sm);
  margin-top: var(--mantine-spacing-sm);
}

.readMoreLink {
  text-align: center;
  text-decoration: underline !important;

  &:hover {
    text-decoration: none !important;
  }
}
