.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mantine-color-dark-6);
  min-height: 358px;

  img,
  video {
    display: block;
    max-width: 100%;
    max-height: 60vh;
    height: auto;
    width: 100%;
    object-fit: contain;
  }
}

.vertical {
  min-height: 556px;

  img,
  video {
    display: block;
    max-width: 100%;
    max-height: 60vh;
    height: auto;
    width: 100%;
    object-fit: contain;
  }
}
