.subredditLink {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.subreddit {
  color: var(--mantine-color-text);

  &:hover {
    text-decoration: underline;
  }
}

.metaLink {
  color: var(--mantine-color-dimmed);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link {
  margin: var(--mantine-spacing-xs) 0 var(--mantine-spacing-md);
  text-decoration: none;

  &:hover {
    text-decoration: hover;
    color: var(--mantine-color-text);
  }
}

.title {
  color: var(--mantine-color-text);

  &:hover {
    color: var(--mantine-color-red);
    text-decoration: underline;
  }
}

.bottomMeta {
  gap: 4px;
}

.commentsToggle {
  border-radius: var(--mantine-radius-sm);
  padding: 4px 8px;
}
