@font-face {
  font-family: 'ComicNeue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/ComicNeue-Regular.woff2);
}

@font-face {
  font-family: 'OpenDyslexic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/OpenDyslexic-Regular.woff2);
}

html,
body {
  @apply dark:bg-gray-900 dark:text-gray-200;

  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

input[type='text'] {
  @apply dark:text-black;
}

input[type='submit'] {
  @apply bg-gray-300 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-200;
}

a {
  @apply dark:text-gray-200;

  &:hover {
    @apply underline;
  }

  &:visited {
    @apply dark:text-gray-600;
  }
}

.skeleton-bone {
  @apply mb-8;

  height: 640px;
  width: 640px;
}

.animate {
  animation: shimmer 15s infinite linear;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
