@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-zinc-900 dark:text-zinc-200;

    scroll-behavior: smooth;
    text-rendering: optimizespeed;
  }

  select {
    appearance: none;
  }

  input[type='text'] {
    @apply bg-zinc-900 text-white;

    appearance: none;
  }

  a {
    @apply dark:text-zinc-200;

    &:hover {
      @apply underline;
    }

    &:visited {
      @apply dark:text-zinc-600;
    }
  }
}

.skeleton-bone {
  @apply animate-pulse bg-zinc-300 dark:bg-zinc-900;

  height: 450px;
  width: 100%;
}

.animate {
  animation: shimmer 15s infinite linear;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
