@tailwind base;
@tailwind components;
@tailwind utilities;

/* Homepage
============================= */
.wrap {
  @apply max-w-xl m-auto;
}

/**
 * Header area
 */
.site-header {
  @apply flex flex-wrap sticky top-0 bg-white mb-8 pt-2 pb-6 text-center;

  box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.25);
}

.site-title {
  @apply text-2xl mb-4;
}

/**
 * Search
 */
.search-bar {
  @apply border-solid border border-black p-2;
}

/**
 * Main content area
 */
.main {
  @apply grid grid-cols-1 gap-4 p-4;
}

.sp {
  height: 32px;
  margin: 20px auto;
  width: 32px;
}

.sp-clock {
  border-radius: 50%;
  border: 1px #000 solid;
  position: relative;
}

.sp-clock::before {
  animation: spClock 1s infinite linear;
  border-left: 1px #000 solid;
  content: '';
  height: calc(50% - 2px);
  position: absolute;
  right: 15px;
  top: 2px;
  transform-origin: 0% 100%;
  transform: rotate(0deg);
  width: 1px;
}

@keyframes spClock {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/* Card
============================= */
.card {
  @apply p-4 mb-8 rounded-lg shadow-2xl;
}

.card-title {
  @apply text-2xl mb-4 text-center;
}

.card-link:hover {
  @apply underline;
}

.card-image {
  @apply bg-gray-400;
}

.card-footer {
  @apply flex flex-wrap justify-between mt-4 text-sm;
}
