@layer components {
  .root {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    min-block-size: 2rem;
  }

  .name {
    color: var(--text-2);
    font-size: var(--step-minus-1);
    font-weight: 600;
  }

  .nameSkeleton {
    display: block;
    inline-size: 8rem;
    block-size: 1rem;
  }
}
